{% extends 'base.html' %}
{% load add_classes %}

{% block content %}
    
   

        <!-- Main Section -->
        <main class="formPage my-xl">
            <div class="content-box">
                <div class="formWrapper">
                    <h3>Password reset</h3>

                    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

                    <br>
    
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <div class="form__field">
                            <label for="formInput#text">{{form.email.label}}</label>
                           {{form.email | add_classes:'input'}}                      
                        </div>
                        <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </main>

{% endblock content %}